<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.blog.entity.Article">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="read_count" jdbcType="INTEGER" property="readCount" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="content" jdbcType="BLOB" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, category_id, read_count, summary, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.blog.entity.Article" useGeneratedKeys="true">
    insert into t_article (title, category_id,  
      summary)
    values (#{title,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, 
      #{summary,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.blog.entity.Article" useGeneratedKeys="true">
    insert into t_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="readCount != null">
        read_count,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="readCount != null">
        #{readCount,jdbcType=INTEGER},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blog.entity.Article">
    update t_article
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="readCount != null">
        read_count = #{readCount,jdbcType=INTEGER},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blog.entity.Article">
    update t_article
    set title = #{title,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      read_count = #{readCount,jdbcType=INTEGER},
      summary = #{summary,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="pageList" parameterType="com.blog.entity.ArticleQuery" resultMap="BaseResultMap">
    select 
    	<include refid="Base_Column_List" />
    from t_article ta
	    <where>
	    	<if test="categoryId != null">
	    		ta.category_id = #{categoryId,jdbcType=INTEGER}
	    	</if>
	    	<if test="title != null">
	    		AND ta.title like CONCAT("%",#{title,jdbcType=VARCHAR},"%") 
	    	</if>
	    </where>
	    ORDER BY ta.create_time DESC
    LIMIT #{page.pageIndex,jdbcType=INTEGER},#{page.pageSize,jdbcType=INTEGER};
  </select>
 
 <insert id="saveContent" keyColumn="id" keyProperty="id" parameterType="com.blog.entity.Article" useGeneratedKeys="true">
    insert into t_article_content (article_id, content)
    values ( #{id,jdbcType=INTEGER}, #{content} )
  </insert>
 
 <select id="queryContentById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
     ta.id, ta.title, ta.category_id, ta.read_count, ta.summary, ta.create_time,tat.content
    FROM t_article ta
    LEFT JOIN t_article_content tat ON (ta.id = tat.article_id)
    WHERE ta.id = #{id,jdbcType=INTEGER}
  </select>
  <update id="updateReadCount" parameterType="java.lang.Integer">
    update t_article
    set 
      read_count = read_count + 1 
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>